<!doctype html>
<html>
	<head>
		<title>Advanced JS</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	</head>
	<body>
		<header>
			<img src="img/js.jpg" style="width:600px;"/>
		</header>
		<ul class="nav nav-pills">
  			<li role="presentation"><a href="/">Home</a></li>
 			<li role="presentation"><a href="/about">About</a></li>
		</ul>
		<br/>
		<br/>
		<div class="container">
			{{{body}}}
		</div>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html> 